#landing{
  background-image: url("VodaVino.jpg");
  background-size: 100%;
}
#jluc{
  background-image:url("Jluch.jpg");
  background-size: 100%;
}
#cacao{
  background-image:url("SoCalledCrew.jpg");
  background-size: 120%;
}
#boro{
  background-image:url("Boro.jpg");
  background-size: 120%;
}
#toshiba{
  background-image:url("Grigovor.jpg");
  background-size: 100%;
}
h1{
  text-align: center;
  color: yellow;
  font-size: 40pt;
}

h2{
  text-align: center;
  color: white;
  font-size: 30pt;
}

p {
  font-size: 20pt;
}

tr {
  color: purple;
}

a {
  color: purple;
}

table {
  margin-left:auto;
  margin-right:auto;
}

#song_txt{
  margin-top: 5%;
}
/*ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
    padding-left: 5%;
    padding-right: 6%;
}
li a {
    font-size: 100%;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}*/

#landing_h1{
      font-size: 40pt;
      color:  #99ffff;
}

#So_h1{
  font-size: 40pt;
  color: #00ccff;
}

#So_h2{
  font-size: 30pt;
  color: #ffff00;
}

#So_a{
  font-size: 20pt;
  color: #00ccff;
  text-align: center;
}

#J_a{
  font-size: 20pt;
  color: #cc0000;
}

#textarea{
  text-align: center;
}

textarea{
  resize: none;
  width: 35%;
  height: 600px;
}

p{
  color: red;
  size:120pt;
}

#navbar_li {
    font-family: "Lato";
}

/* Change the link color to #111 (black) on hover */
#navbar_li a:hover {
    background-color: #111;
    color: white;
    text-decoration: none;
}

.nav{
    text-align:center;
}
.nav li{
    display:inline-block;
}
.nav a{
    display:inline-block;
}
/*.nav li{
  font-size: 13pt;
  padding: 9px 0;
  display: inline-block;
}*/

a{
  color: white;
  text-decoration: none;
}

li a:hover{
  text-decoration: none;
  color: white;
  background-color: #111;
}

li{
  font-size: 13pt;
  padding: 9px 0;
  display: inline-block;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /*position: fixed;*/
    width: 100%;
}
.home {
    float: left;
    margin-top: 0.6%;
    margin-left: 10px;
    text-align: center;
    padding: 0 5px;
    font-size: 20px;
    text-shadow: 2px 2px black;
    /*padding: 15px 20px;*/
    font-family: "Lato";
    color: #e0e0e0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 25px;
    text-decoration: none;
}

.home:hover {
    background-color: #111;
}

*{
  box-sizing: border-box;
}

.nav_li{
  margin-left: 10%;
}
.nav_li a {
  padding-bottom: 10%;
}
